@model FormProjectViewModel

<div class="row">
    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name:</label>
        <input asp-for="Name" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="ShortName" class="form-label">Short Name:</label>
        <input asp-for="ShortName" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description:</label>
        <input asp-for="Description" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="ProjectColor" class="form-label">Project Color:</label>
        <input asp-for="ProjectColor" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="CreatedDate" class="form-label">Created Date:</label>
        <input asp-for="CreatedDate" type="date" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="ProjectStatus" class="form-label">Project Status:</label>
        <input asp-for="ProjectStatus" type="text" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Salvar</button>
</form>
