@model FormSeverityViewModel

<div class="row">
    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name:</label>
        <input asp-for="Name" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Grade" class="form-label">Grade:</label>
        <input asp-for="Grade" type="text" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Salvar</button>
</form>
