@model FormCategoryViewModel

<div class="row">
    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Nome:</label>
        <input asp-for="Name" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="DisplayOrder" class="form-label">Ordem:</label>
        <input asp-for="DisplayOrder" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="CategoryLevel" class="form-label">Nível de Categorização:</label>
        <input asp-for="CategoryLevel" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="CategoryReference" class="form-label">Categoria Pai:</label>
        <input asp-for="CategoryReference" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="CreatedDate" class="form-label">Data de Criação:</label>
        <input asp-for="CreatedDate" type="date" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="CategoryStatus" class="form-label">Status:</label>
        <input asp-for="CategoryStatus" type="text" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Salvar</button>
</form>
